DLAP Application Import/Oracle Application Import Definition/DLAPOracle_SUBMITTED_DOCUMENTS_DCMS2.xsd

<?xml version="1.0"?>
<schema xmlns:ns3="http://schemas.microsoft.com/Message" elementFormDefault="qualified" targetNamespace="http://Microsoft.LobServices.OracleDB/2007/03/ELA_DB/View/SUBMITTED_DOCUMENTS_DCMS2" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation=".\DLAPOracle_Message.xsd" namespace="http://schemas.microsoft.com/Message" />
  <annotation>
    <appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">ELA_DB.View.SUBMITTED_DOCUMENTS_DCMS2</fileNameHint>
    </appinfo>
  </annotation>
  <element name="ReadLOB">
    <annotation>
      <documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">http://Microsoft.LobServices.OracleDB/2007/03/ELA_DB/View/SUBMITTED_DOCUMENTS_DCMS2/ReadLOB</doc:action>
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="1" name="LOB_COLUMN" nillable="true" type="string" />
        <element minOccurs="0" maxOccurs="1" name="FILTER" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="ReadLOBResponse">
    <annotation>
      <documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">http://Microsoft.LobServices.OracleDB/2007/03/ELA_DB/View/SUBMITTED_DOCUMENTS_DCMS2/ReadLOB/response</doc:action>
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element minOccurs="1" maxOccurs="1" name="ReadLOBResult" type="ns3:StreamBody" />
      </sequence>
    </complexType>
  </element>
  <element name="Select">
    <annotation>
      <documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">http://Microsoft.LobServices.OracleDB/2007/03/ELA_DB/View/SUBMITTED_DOCUMENTS_DCMS2/Select</doc:action>
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element minOccurs="1" maxOccurs="1" name="COLUMN_NAMES" nillable="true" type="string" />
        <element minOccurs="0" maxOccurs="1" name="FILTER" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <complexType name="SUBMITTED_DOCUMENTS_DCMS2RECORDSELECT">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="APP_REFERENCE_NUMBER" nillable="true">
        <simpleType>
          <restriction base="string">
            <maxLength value="4000" />
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DOC_ID" nillable="true">
        <simpleType>
          <restriction base="string">
            <maxLength value="4000" />
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DOC_TYPE" nillable="true">
        <simpleType>
          <restriction base="string">
            <maxLength value="50" />
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" maxOccurs="1" name="LKC_DESC" nillable="true">
        <simpleType>
          <restriction base="string">
            <maxLength value="2000" />
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DOC_CONTENTS" nillable="true" type="base64Binary" />
      <element minOccurs="0" maxOccurs="1" name="DOC_CONTENT_TYPE" nillable="true">
        <simpleType>
          <restriction base="string">
            <maxLength value="255" />
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DOC_INSTANCE_NAME" nillable="true">
        <simpleType>
          <restriction base="string">
            <maxLength value="100" />
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DOC_SOURCE" nillable="true">
        <simpleType>
          <restriction base="string">
            <maxLength value="100" />
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DOC_APPLICANT_ID" nillable="true">
        <simpleType>
          <restriction base="string">
            <maxLength value="4000" />
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DOC_AFFILIATE_ID" nillable="true">
        <simpleType>
          <restriction base="string">
            <maxLength value="4000" />
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DOC_ORIGIN" nillable="true">
        <simpleType>
          <restriction base="string">
            <maxLength value="30" />
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DOC_USR_ID" nillable="true">
        <simpleType>
          <restriction base="string">
            <maxLength value="4000" />
          </restriction>
        </simpleType>
      </element>
    </sequence>
  </complexType>
  <element name="SUBMITTED_DOCUMENTS_DCMS2RECORDSELECT" nillable="true" xmlns:q1="http://Microsoft.LobServices.OracleDB/2007/03/ELA_DB/View/SUBMITTED_DOCUMENTS_DCMS2" type="q1:SUBMITTED_DOCUMENTS_DCMS2RECORDSELECT" />
  <complexType name="ArrayOfSUBMITTED_DOCUMENTS_DCMS2RECORDSELECT">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="SUBMITTED_DOCUMENTS_DCMS2RECORDSELECT" xmlns:q2="http://Microsoft.LobServices.OracleDB/2007/03/ELA_DB/View/SUBMITTED_DOCUMENTS_DCMS2" type="q2:SUBMITTED_DOCUMENTS_DCMS2RECORDSELECT" />
    </sequence>
  </complexType>
  <element name="ArrayOfSUBMITTED_DOCUMENTS_DCMS2RECORDSELECT" nillable="true" xmlns:q3="http://Microsoft.LobServices.OracleDB/2007/03/ELA_DB/View/SUBMITTED_DOCUMENTS_DCMS2" type="q3:ArrayOfSUBMITTED_DOCUMENTS_DCMS2RECORDSELECT" />
  <element name="SelectResponse">
    <annotation>
      <documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">http://Microsoft.LobServices.OracleDB/2007/03/ELA_DB/View/SUBMITTED_DOCUMENTS_DCMS2/Select/response</doc:action>
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="1" name="SelectResult" nillable="true" xmlns:q4="http://Microsoft.LobServices.OracleDB/2007/03/ELA_DB/View/SUBMITTED_DOCUMENTS_DCMS2" type="q4:ArrayOfSUBMITTED_DOCUMENTS_DCMS2RECORDSELECT" />
      </sequence>
    </complexType>
  </element>
</schema>