DLAP Application Import/Salesforce Application Import Definition/Decline_Withdrawal_Code__c/CDataService_Decline_Withdrawal_Code__c.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://sba-oda/DLAP/Decline_Withdrawal_Code__c" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sync">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="after">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Decline_Withdrawal_Code__c">
                      <xs:complexType>
                        <xs:attribute name="Id" type="xs:string" />
                        <xs:attribute name="IsDeleted" type="xs:boolean" />
                        <xs:attribute name="Name" type="xs:string" />
                        <xs:attribute name="CreatedDate" type="xs:dateTime" />
                        <xs:attribute name="CreatedById" type="xs:string" />
                        <xs:attribute name="LastModifiedDate" type="xs:dateTime" />
                        <xs:attribute name="LastModifiedById" type="xs:string" />
                        <xs:attribute name="SystemModstamp" type="xs:dateTime" />
                        <xs:attribute name="LastActivityDate" type="xs:dateTime" />
                        <xs:attribute name="LastViewedDate" type="xs:dateTime" />
                        <xs:attribute name="LastReferencedDate" type="xs:dateTime" />
                        <xs:attribute name="Exception_Test__c" type="xs:string" />
                        <xs:attribute name="Active__c" type="xs:boolean" />
                        <xs:attribute name="Application__c" type="xs:string" />
                        <xs:attribute name="Code_Type__c" type="xs:string" />
                        <xs:attribute name="Code__c" type="xs:string" />
                        <xs:attribute name="Description_for_Reason_Code__c" type="xs:string" />
                        <xs:attribute name="Application_Stage__c" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="table">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="row">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Id">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="IsNull" type="xs:boolean" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="AffectedRows" type="xs:int" />
    </xs:complexType>
  </xs:element>
</xs:schema>