DLAP Application Import/Salesforce Application Import Definition/Additional_Contact__c/CDataService_Additional_Contact__c.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://sba-oda/DLAP/Additional_Contact__c" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sync">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="after">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Additional_Contact__c">
                      <xs:complexType>
                        <xs:attribute name="Id" type="xs:string" />
                        <xs:attribute name="OwnerId" type="xs:string" />
                        <xs:attribute name="IsDeleted" type="xs:boolean" />
                        <xs:attribute name="Name" type="xs:string" />
                        <xs:attribute name="CreatedDate" type="xs:dateTime" />
                        <xs:attribute name="CreatedById" type="xs:string" />
                        <xs:attribute name="LastModifiedDate" type="xs:dateTime" />
                        <xs:attribute name="LastModifiedById" type="xs:string" />
                        <xs:attribute name="SystemModstamp" type="xs:dateTime" />
                        <xs:attribute name="Application__c" type="xs:string" />
                        <xs:attribute name="Mailing_Address__c" type="xs:string" />
                        <xs:attribute name="Mailing_City__c" type="xs:string" />
                        <xs:attribute name="Mailing_State__c" type="xs:string" />
                        <xs:attribute name="Mailing_Zip_Code__c" type="xs:double" />
                        <xs:attribute name="Primary_Phone_Number__c" type="xs:string" />
                        <xs:attribute name="Related_Applicant__c" type="xs:string" />
                        <xs:attribute name="Role__c" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="table">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="row">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Id">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="IsNull" type="xs:boolean" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="AffectedRows" type="xs:int" />
    </xs:complexType>
  </xs:element>
</xs:schema>